PyPDF2==1.27.12
pypiwin32
passlib==1.7.4
babel==2.10.1
werkzeug==0.16.1
lxml==4.8.0
decorator==5.1.1
polib==1.1.1
pillow==9.1.0
psycopg2==2.9.3
idna==3.3
python-dateutil==2.8.2
psutil==5.9.0
requests==2.27.1
jinja2==3.1.2
reportlab==3.6.9
html2text==2020.1.16
docutils==0.18.1
chardet==4.0.0
libsass==0.21.0
pinyin==0.4.0
pypeg2==2.15.2
cacheout==0.13.1
aliyun-python-sdk-facebody==1.2.28
aliyun-python-sdk-dysmsapi==2.1.1
xmltodict==0.13.0
bs4==0.0.1
docxtpl==0.16.0
xlrd==2.0.1
geoip2==4.6.0
xmindparser==1.0.9
openpyxl==3.0.10
chinesecalendar==1.7.2
py7zr==0.20.0
rarfile==4.0
crypto==1.4.1
